services:
  web:
    build:
      context: ./apps/web
      dockerfile: Dockerfile
      target: dev
    volumes:
      - ./apps/web:/app
      - /app/node_modules
    ports:
      - "5173:5173"
    environment:
      - NODE_ENV=development

  api:
    build:
      context: ./apps/api
      dockerfile: Dockerfile
      target: dev
    # volumes:
    #   - ./apps/api:/app
      # - /app/node_modules:/app/node_modules 
    ports:
      - "5000:5000"
    environment:
      - NODE_ENV=development
      - PORT=5000
      - MONGO_URI=mongodb://mongo:27017/ingenio
      - REDIS_URL=redis://redis:6379
      - DATABASE_URL=postgresql://postgres:postgres@postgres:5432/ingenio
      - IA_API=http://ia_mock:8081
    depends_on:
      - mongo
      - postgres
      - redis
  
  mongo:
    image: mongo:7
    ports:
      - "27017:27017"
    volumes:
      - mongo_data:/data/db
  
  redis:
    image: redis:7
    ports:
      - "6379:6379"
    command: ["redis-server", "--appendonly", "yes"]
    volumes:
      - ./data/redis:/data

  postgres:
    image: postgres:16
    environment:
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: postgres
      POSTGRES_DB: ingenio
    ports:
      - "5432:5432"
    volumes:
      - ./data/postgres:/var/lib/postgresql/data

  sensor_mock:
    build:
      context: ./apps/sensor-mock 
      dockerfile: Dockerfile
      # target: dev
    # ports:
    #   - "5001:5001"
    environment:
      - NODE_ENV=development
      # - PORT=5001
      - API=http://api:5000
      - CONFIG_FILE_NAME=motor-01.json
  
  ia_mock:
    build:
      context: ./apps/ia-mock
      dockerfile: Dockerfile
    volumes:
      - ./apps/ia-mock:/app

volumes:
  mongo_data: